# EDA - Exploratory Data Analysis

## Listing down all the imports

In [4]:
import os
import numpy as np
import pandas as pd
import cv2
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

## Loading Data (csv) and mapping the id with images

In [5]:
train = pd.read_csv('train.csv')
train.head()

        id_code  diagnosis
0  000c1434d8d7          2
1  001639a390f0          4
2  0024cdab0c1e          1
3  002c21358ce6          0
4  005b95c28852          0

In [6]:
# The total number of images available for training are:
train.shape[0]

3662

In [7]:
train_path = 'train_images'